body {
margin: 0;
font-family: :sans-serif;
background-color: #ddffdd;
}

#nav {
	width: 100%;
	float: left;
	padding: 0;
	list-style: none;
	background-color: #ffffe0;
	border-width: 1px solid #f0e68c;
}

#nav li {
	float: left; 
}

#nav li a {
	display: block;
	padding: 5px 7px;
}

#nav li a:hover {
	color: green;
	background-color: #afeeee; 
}

.div1
 {
	width: 200px;
	height: 200px;
	background-color: #ff33cc;
	border: solid;
	padding: 5px;
	margin: 10px;
	float: left;
}
.div2
 {
	width: 200px;
	height: 200px;
	background-color: #ff33cc;
	border: solid;
	padding: 5px;
	margin: 10px;
	float: left;
}
.div3
 {
	width: 200px;
	height: 200px;
	background-color: #ff33cc;
	border: solid;
	padding: 5px;
	margin: 10px;
	float: left;
}
.div4
 {
	width: 200px;
	height: 200px;
	background-color: #ff33cc;
	border: solid;
	padding: 5px;
	margin: 10px;
	float: left;
}
.div5
 {
	width: 200px;
	height: 200px;
	background-color: #ff33cc;
	border: solid;
	padding: 5px;
	margin: 10px;
	float: left;

}
.div6
 {
	width: 200px;
	height: 200px;
	background-color: #ff33cc;
	border: solid;
	padding: 5px;
	margin: 10px;
	float: left;
}
.div7
 {
	width: 200px;
	height: 200px;
	background-color: #ff33cc;
	border: solid;
	padding: 5px;
	margin: 10px;
	float: left;
}
.div8
 {
	width: 200px;
	height: 200px;
	background-color: #ff33cc;
	border: solid;
	padding: 5px;
	margin: 10px;
	float: left;
}
.div9
 {
	width: 200px;
	height: 200px;
	background-color: #ff33cc;
	border: solid;
	padding: 5px;
	margin: 10px;
	float: left;
}
.div10
 {
	width: 200px;
	height: 200px;
	background-color: #ff33cc;
	border: solid;
	padding: 5px;
	margin: 10px;
	float: left;
}